Source: bat-extratools-java
Section: misc
Priority: extra
Maintainer: Armijn Hemel <armijn@binaryanalysis.org>
Build-Depends: debhelper (>= 7.0.50~), javahelper, ant, default-jdk
Standards-Version: 3.9.1
Homepage: http://www.binaryanalysis.org/

Package: bat-extratools-java
Architecture: any
Depends: default-jre
Description: set of helper tools in Java for the Binary Analysis Tool
 bat-extratools-java is a set of helper tools in Java for the Binary Analysis Tool
